:root {
  --background: #020617;
  --foreground: #ededed;
  --navbar-height: 100px;
}

@media (max-width: 768px) {
  :root {
    --navbar-height: 80px;
  }
}

html {
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: var(--navbar-height);
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
